.app #btnCreatePost {
  margin: 10px;
  width: calc(100% - 20px);
}

.app > .ui.vertical.left.fixed.menu {
  width: 250px;
  overflow-y: auto;
}

.app > .ui.fluid.container {
  margin-left: 250px !important;
  padding: 10px 260px 10px 10px;
}

.app > .ui.fluid.container .ui.active.dimmer {
  margin-left: 250px;
}

.app .item .content .extra a.action {
  display: inline-block;
  font-size: .875em;
  margin: 0 .75em 0 0;
  color: rgba(0,0,0,.4);
}

.app .item .content .extra a.action:hover {
  color: rgba(0,0,0,.8);
}

.app .item .content .extra .ui.label.countVote,
.app .comment .content .metadata .ui.label.countVote {
  margin-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.app .item .content .extra strong {
  color: rgba(0,0,0,.87);
}

.app .item .content .extra .ui.label.upVote,
.app .comment .content .metadata .ui.label.upVote {
  margin-right: 0;
  border-radius: 0;
}

.app .item .content .extra .ui.label.upVote > i,
.app .comment .content .metadata .ui.label.upVote > i {
  margin-right: 0;
}

.app .item .content .extra .ui.label.downVote,
.app .comment .content .metadata .ui.label.downVote {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.app .item .content .extra .ui.label.downVote > i,
.app .comment .content .metadata .ui.label.downVote > i {
  margin-right: 0;
}
